# Package Files #
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
makefile
*.pdf
.DS_Store
.gdb_history
*.dSYM
*.loc
*.nav
*.snm
*.sh
*.fls
*latexmk
